body {
    background-image: url(https://media2.giphy.com/media/xkGkrAIbJqAtKlsZI5/giphy.gif?cid=ecf05e47t6kwrijgkwrqt784u3d43coa0b9yrljkemjcrupx&ep=v1_stickers_search&rid=giphy.gif&ct=s);
    background-color: black;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.luke_en {
    background-color: red;
    width: 200px;
    height: 200px;
    margin: 1em;
}

.luke_to {
    background-color: green;
    width: 200px;
    height: 200px;
    margin: 1em;
}

.luke_tre {
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 1em;
}

.luke_fire {
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin: 1em;
}