body {
    background-color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: 25px;
    box-sizing: border-box;
}

.luke_en,
.luke_to,
.luke_tre,
.luke_fire {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: .3em;
    overflow: hidden;
    text-align: center;
}

.luke_en {
    background: linear-gradient(to bottom right, #325A34, #5F8E64);
}

.luke_to {
    background: linear-gradient(to bottom right, #4C6F9F, #8BB8E3);
}

.luke_tre {
    background: linear-gradient(to bottom right, #C4B26B, #F7EFB8);
}

.luke_fire {
    background: linear-gradient(to bottom right, #8F3B38, #D66562);
}

/* overlays */
.overlay_en_en,
.overlay_en_to,
.overlay_en_tre,
.overlay_en_fire,
.overlay_to_en,
.overlay_to_to,
.overlay_to_tre,
.overlay_to_fire,
.overlay_tre_en,
.overlay_tre_to,
.overlay_tre_tre,
.overlay_tre_fire {
    transition: opacity .5s ease-in-out;
}

.overlay_en_en,
.overlay_en_to,
.overlay_en_tre,
.overlay_en_fire {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: .3em;
    z-index: 3;
}

.overlay_to_en,
.overlay_to_to,
.overlay_to_tre,
.overlay_to_fire {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom right, #f5f5f5, #ffffff);
    width: 100%;
    height: 2em;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 3;
    border-top: .2em solid #F2F2F2;
    border-bottom: .2em solid #F2F2F2;
}

a {
    color: #000;
    font-family: harrypotter;
    font-size: 7em;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.luke_en a {
    display: block;
}

.overlay_tre_en,
.overlay_tre_to,
.overlay_tre_tre,
.overlay_tre_fire {
    content: "";
    position: absolute;
    background: linear-gradient(to bottom right, #f5f5f5, #ffffff);
    width: 2em;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    border-right: .2em solid #F2F2F2;
    border-left: .2em solid #F2F2F2;
}

.overlay_en_en {
    background: repeating-linear-gradient(90deg, #3A9265, #3A9265 20px, #409F6E 21px, #409F6E 40px);
}

.overlay_en_to {
    background: repeating-linear-gradient(90deg, #14639F, #14639F 20px, #1568A6 21px, #1568A6 40px);
}

.overlay_en_tre {
    background: repeating-linear-gradient(90deg, #E6C300, #E6C300 20px, #FFD700 21px, #FFD700 40px);
}

.overlay_en_fire {
    background: repeating-linear-gradient(90deg, #D64843, #D64843 20px, #D9534F 21px, #D9534F 40px);
}

/* hide overlay one */
.overlay_en_en.hide {
    opacity: 0;
    transition-delay: 1s;
}

.overlay_to_en.hide {
    opacity: 0;
    transition-delay: .5s;
}

.overlay_tre_en.hide {
    opacity: 0;
}

/* hide overlay two */
.overlay_en_to.hide {
    opacity: 0;
    transition-delay: 1s;
}

.overlay_to_to.hide {
    opacity: 0;
    transition-delay: .5s;
}

.overlay_tre_to.hide {
    opacity: 0;
}


/* hide overlay tree */
.overlay_en_tre.hide {
    opacity: 0;
    transition-delay: 1s;
}

.overlay_to_tre.hide {
    opacity: 0;
    transition-delay: .5s;
}

.overlay_tre_tre.hide {
    opacity: 0;
}

/* hide overlay four */
.overlay_en_fire.hide {
    opacity: 0;
    transition-delay: 1s;
}

.overlay_to_fire.hide {
    opacity: 0;
    transition-delay: .5s;
}

.overlay_tre_fire.hide {
    opacity: 0;
}

/* shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s ease-in-out;
}

/* hide scrollbar */
body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* import fonts */
@import url('/fonts/HARRYP__.TTF');
@font-face {
    font-family: harrypotter;
    src: url(/fonts/HARRYP__.TTF);
}